@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display');*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    body
     {
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: #ffffff; ;
    flex-direction: column;
    gap:50px;

     }
<<<<<<< HEAD
     a
=======
     button
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {

       position: relative; 
       background: #000000;
       color:#ffffff;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 1.5em;
       letter-spacing: 0.1em;
       font-weight: 400;
       padding: 10px 30px;
       transition: 0.5s;
     }
<<<<<<< HEAD
     a:hover
=======
     button:hover
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        background: var(--clr);
        color: var(--clr);
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px var(--clr);
     } 
<<<<<<< HEAD
     a:before           
=======
     button:before           
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        content: '';
        position: absolute;
        inset: 2px;
        background: #000000;
     }
<<<<<<< HEAD
     a span
=======
     button span
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        position: relative;
        z-index: 1;
     }
<<<<<<< HEAD
     a i
=======
     button i
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        position: absolute;
        inset: 0;
        display: block;

     }
<<<<<<< HEAD
     a i::before
=======
     button i::before
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        content: '';
        position: absolute;
        top: 0;
        left: 80%;
        width: 10px;
        height: 2px;
        background: #fffefe;
        transform: translateX(-50%)skewX(325deg);
        transition: 0.5s;
     }
<<<<<<< HEAD
     a:hover i::before
=======
     button:hover i::before
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        width: 20px;
        left: 10px;
     }
<<<<<<< HEAD
     a i::after
=======
     button i::after
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 10px;
        height: 2px;
        background: #ffffff;
        transform: translateX(-50%)skewX(325deg);
        transition: 0.5s;
     }
<<<<<<< HEAD
     a:hover i::after
=======
     button:hover i::after
>>>>>>> 665951b923d24ef2eacac8bb85f55b92586cc657
     {
        width: 20px;
        left: 200px;
     }
     